{% extends 'base.html' %}

{% block title %}Create_User_page{% endblock %}

{% block content %}


  <center>
    <h2> Create a new user </h2>
    <br>
    <form action="http://localhost:8000/app/create_user" method="post">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br><br>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
      <br><br>
      <label for= "choice"> I am a:</label><br>
      <input type="radio" id="student" name="choice" value="student" checked>
      <label for="student">Student</label><br>
      <input type="radio" id="teacher" name="choice" value="teacher" checked>
      <label for="teacher">Teacher</label>
      <br><br>
      <input type="submit" value="Submit"> 



{% endblock %}